<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="Impactor"  providerName ="System.Data,SqlClient" connectionString="Data Source=Calspan_SLED-DB\Calspan_SLED;Initial Catalog=CALSPAN_SLED;Integrated Security=true"  />-->
		<add name="Impactor"  providerName ="System.Data,SqlClient" connectionString="Data Source=impactor-db\impactor;Initial Catalog=Impactor;Integrated Security=true"  />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="TemplatePath" value ="C:\PedPro Stuffff\Templates"/>
	</appSettings>
</configuration>
