<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CALSPAN_SLED" connectionString="Data Source=(local)\SQLExpress;Initial Catalog=CALSPAN_SLED"	providerName="System.Data.SqlClient" />
	</connectionStrings>	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>